/* 
BLUE :  283593
RED  :  611319   
Jacket Color1: 085492
Jacket Color2: 042659

*/

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  section {
    &.container {
      margin: 32px 96px 0 96px;
      background-color: #085492;
      border-radius: 8px;
      padding: 100px;
      &:last-child {
        margin-bottom: 2em;
      }
    }
  }
}

@media (max-width: 768px) {
  .main-container {
    section {
      &.container {
        padding: 70px;
      }
    }
  }
}

@media (max-width: 425px) {
  .main-container {
    section {
      &.container {
        margin: 32px 32px 0 32px;
        padding: 18px;
      }
    }
  }
}
