body {
  background-color: #333333;
}
.bg-info {
  background-color: #611319 !important;
}
.bg-secondary {
  background-color: #333333 !important;
}

#resume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13px 425px;
}

.btn {
  color: white !important;
  background-color: transparent;
}

.btn:hover {
  background-color: white !important;
  color: black !important;
  border: 2px solid #283593;
}

#aboutMeBody {
  align-content: center;
  padding-left: 2.5rem;
  padding-top: 47px;
}

#aboutMeBody section {
  font-size: 24px;
}

#aboutMe {
  font-family: 'Monoton', cursive;
  font-size: 51px;
}

@media (max-width: 1440px) {
  #resume {
    margin-left: 26%;
  }
}

@media (max-width: 1024px) {
  #contactButton {
    margin-left: 35%;
  }
  #resume {
    margin-left: 194px;
  }
}

@media (max-width: 768px) {
  #aboutMe {
    margin-left: 104px;
    padding-top: 222px;
  }
  #aboutMeIntro {
    font-size: 17px;
    margin-top: -27px;
  }
  #selfImage {
    size: 500px 500px;
    margin-left: 76px;
  }
  #contactButton {
    margin-left: 177px !important;
  }
  #resume {
    margin-left: 73px;
  }
}

@media (max-width: 576px) {
  .container {
    text-align: center;
  }
  #selfImage {
    margin-left: 4.9rem;
  }
  #aboutMeHeader {
    text-align: center;
  }
}
@media (max-width: 425px) {
  #selfImage {
    margin-left: 5rem;
  }
  #aboutMeBody {
    margin-right: 1rem;
    font-size: 14px;
  }
  #aboutMe {
    margin-top: 3rem;
    margin-right: 91px;
  }
  #resumePreText a {
    margin: 1rem;
  }
  #contactButton {
    margin-right: 163px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 375px) {
  #selfImage {
    height: 240px;
    width: 350px;
    margin-right: -5rem;
  }
  #aboutMe {
    font-size: 53px;
  }
  #aboutMeIntro {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  #selfImage {
    height: 240px;
    width: 400px;
    margin-left: 50px;
  }
  #aboutMe {
    font-size: 53px;
  }
  #aboutMeIntro {
    font-size: 10px;
  }
}
