#projectsButton {
  color: white;
  background-color: #283593;
  margin-right: 2rem;
}
#projectsButton:hover {
  color: black;
}

#projectsHeader {
  text-align: center;
  font-family: 'Monoton', cursive;
}

#projectsBody {
  align-content: center;
}

@media (max-width: 1440px) {
  .projectCard {
    margin-left: -59px;
  }
  #projectsBody {
    margin-left: 5rem;
  }
  #projectsHeader {
    margin-right: 4rem;
  }
}

@media (max-width: 1024px) {
  .projectCard {
    margin-left: -151px;
    width: 800px !important;
  }
  #projectsBody {
    padding-left: 4rem;
  }
  #projectsHeader {
    margin-right: 4rem;
    margin-bottom: 5rem;
    padding-right: 4rem;
  }
  div.jumbotron {
    margin-right: -123px;
  }
}

@media (max-width: 768px) {
  div.jumbotron {
    margin-right: -195px !important;
    width: 644px;
  }
  .projectCard {
    width: 600px !important;
    margin-right: 1px;
  }
  #projectsBody {
    margin-left: 90px !important;
  }
  #projectsHeader {
    margin-left: -44px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 425px) {
  #projectsHeader {
    font-size: 54px;
    padding-bottom: 81px !important;
    margin-top: -176px;
  }
  .projectCard {
    width: 26rem;
    margin: -33% 0% 33% -35%;
  }
  #projectsButton {
    padding: 0% 5% 0% 5%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  #projectsBody {
    margin: 38% 0% 0% 0%;
  }
}
