#modal1 {
  width: 32%;
  /*border-radius: 25px;*/
  border: 2px solid Black;
  padding: 0.23rem 0.23rem 0.23rem 0.23rem;
  margin: -17.3rem 0.3rem -3.7rem 0.3rem;
  background: white;
  overflow: visible;
  position: relative;
}

#modal1 p {
  margin-bottom: -3rem;
}

#myInfo {
  text-align: center;
}

#contactButton {
  margin-top: 1rem;
  margin-left: 40%;
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: -1px;
  width: 138px;
  height: 67px;
}
#contactButton:hover {
  color: black !important;
}

#socialLinks {
  padding-top: 3rem;
  align-items: center;
}

#contactContents {
  text-align: center;
}

#modalBody {
  background-color: #042659;
}

.close-container {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: -23px;
  margin-right: -38px;
  cursor: pointer;
}

.leftright {
  height: 2px;
  width: 25px;
  position: absolute;
  margin-top: 24px;
  background-color: white;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.rightleft {
  height: 2px;
  width: 25px;
  position: absolute;
  margin-top: 24px;
  background-color: white;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: red;
}
.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: red;
}
.close-container:hover label {
  opacity: 1;
}

#closeButton {
  float: right;
}

@media (max-width: 425px) {
  #modal1 {
    width: 104%;
  }
  #contactContents p {
    padding: 20% 6% 6% 0%;
  }
}
