#matthewBishop {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-bottom: 1rem;
  padding-left: 49rem;
}

@media (max-width: 425px) {
  #matthewBishop {
    margin-top: -1rem;
    padding-left: 4rem;
  }
}
