#projectsButton {
  color: white;
  background-color: #283593;
  margin-right: 2rem;
}
#projectsButton:hover {
  color: black;
}

.projectCard {
  padding: 1px;
}

@media (max-width: 1440px) {
  .projectCard {
    margin-left: -59px;
  }
}

@media (max-width: 1024px) {
  .projectCard {
    margin-left: -151px;
    width: 800px !important;
  }
}

@media (max-width: 768px) {
  .projectCard {
    size: 250px 500px;
  }
}
