#skillsHeader {
  text-align: center;
  margin-right: 35%;
  margin-left: 35%;
  margin-top: 29px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Monoton', cursive;
  font-size: 80px;
}

#skillIcons {
  font-size: 7rem;
  color: white;
}

.jumbotron {
  padding: 0.5rem 2rem;
}

@media (max-width: 1440px) {
  #skillIcons {
    font-size: 93px;
  }
}

@media (max-width: 1024px) {
  #skillsHeader {
    font-size: 79px;
    margin-left: 234px;
  }
  #skillIcons {
    font-size: 73px;
  }
}

@media (max-width: 768px) {
  #skillsHeader {
    margin-left: 154px;
  }
  #skillIcons {
    font-size: 97px;
  }
}

@media (max-width: 425px) {
  #skillsHeader {
    font-size: 61px;
    margin-right: 0%;
    margin-left: 0%;
  }
}
