#skillsHeader {
  text-align: center;
  margin-right: 35%;
  margin-left: 35%;
  margin-top: 29px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Monoton', cursive;
  font-size: 80px;
}

#skillIcons {
  font-size: 7rem;
  color: white;
}

.jumbotron {
  padding: 0.5rem 2rem;
}
